%%
%%   Copyright (C) 2016 Zalando SE
%%
%%   This software may be modified and distributed under the terms
%%   of the MIT license.  See the LICENSE file for details.
%%
{erl_opts, [
   {d, 'CONFIG_DEBUG',    true}

  ,{parse_transform, lager_transform}
]}.

{deps, [
   lager,
   jsx,

   {knet, ".*",
      {git, "https://github.com/fogfish/knet", {branch, 'release-3'}}
   }
]}.
