%%
%%   Copyright (C) 2016 Zalando SE
%%
%%   This software may be modified and distributed under the terms
%%   of the MIT license.  See the LICENSE file for details.
%%
{erl_opts, []}.

{deps, [
   jsx
,  {pipe, "2.0.1", {pkg, pipes}}
,  m_http

,  {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
]}.

{profiles, [
   {test, [
      {deps, [
         meck
      ]}
   ]}
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
