%%
%%   Copyright (C) 2016 Zalando SE
%%
%%   This software may be modified and distributed under the terms
%%   of the MIT license.  See the LICENSE file for details.
%%
{erl_opts, [
   % {parse_transform, lager_transform}
]}.

{sub_dirs, [
   "apps/elastictk"
  ,"rel"
]}.
{lib_dirs, []}.
{cover_enabled, true}.

{deps, [
   {knet, ".*",
      {git, "https://github.com/kfsm/knet", {branch, master}}
   }

  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }
]}.
